		*{
			padding: 0; 
			margin:0;
			}
			
		body{
			width:1000px;
		     height:auto;
		     margin:0 auto;
		     }
		
		header{
			   width: 1000px;
		       height:400px;
		       margin-bottom: 0;
		       padding-bottom: 0;
		       overflow: hidden;
		}
		header img{
			   display: block;
		       width: 100%;
		       height:100%;		       
		}
		
		nav{
			width:1000px;
		    height:50px;
		    background-color: #87CEEB;
		    margin-top: 0;
		    padding-top: 0;
		}
		
		nav ul li{
			list-style: none;
		    float: left;
		}
		          
		nav ul li a{
			text-decoration: none;
			text-align: center;
			width: 200px;
			display: block;
			line-height: 50px;
			color:white;
			transition: all 0.3s;
		}
		
		nav ul li a:hover{
			background-color: white; 
			color: #87CEEB; 
		}
		
		footer{
			width:1000px;
		       height:50px;
		       background-color: #87CEEB;
		       margin-top: 20px;
		}
		footer p{
			line-height: 50px;
		         text-align: center;
		         color:white;
		}